<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="application.ucweb.proyectoecoinca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".aplicacion.Configuracion"
        android:allowBackup="true"
        android:icon="@drawable/icono_aplicacion_ecoinca"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroOpcionActivity" />
        <activity android:name=".IniciarSesionActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".MiPerfilActivity" />
        <activity android:name=".VamosAlNegocioActivity" />
        <activity android:name=".BuscarActivity" />
        <activity android:name=".MiPerfilEmpresaActivity" />
        <activity android:name=".BuscarResultadoListaActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".PlusActivity" />
        <activity android:name=".BuscarDetalleListaActivity" />
        <activity android:name=".RegistroDetalleListaActivity" />
        <activity android:name=".MisContactosActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".apis.FcmInstanceIdListener">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".apis.FcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ComprarPlusActivity"></activity>
    </application>

</manifest>